.vs/
/EEMC/bin/
/EEMC/obj/
/Test/bin/
/Test/obj/
/EEMC/Properties/PublishProfiles/FolderProfile.pubxml
/EEMC/Properties/PublishProfiles/FolderProfile.pubxml.user
/EEMC/EEMC.csproj.user
/Setup/Debug
/CustomUninstaller/bin/Debug
/CustomUninstaller/obj/Debug
/packages
/CustomUninstaller/obj/Release
